.layout-wrapper {
  position: relative;
  width: 100%;
}
.layout-wrapper.hideSidbar .l-guide-sidebar-container {
  width: 64px;
}
.layout-wrapper.hideSidbar .l-guide-sidebar-container .logo-container > .logo-title {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  margin-left: 0;
}
.layout-wrapper.hideSidbar .l-guide-sidebar-container .el-sub-menu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
.layout-wrapper.hideSidbar .l-guide-sidebar-container .el-menu-item span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
.layout-wrapper.hideSidbar .r-main-container {
  left: 64px;
  width: calc(100% - 64px);
}
.layout-wrapper.openSidebar .l-guide-sidebar-container {
  width: 64px;
}
.layout-wrapper.openSidebar .r-main-container {
  left: 64px;
  width: calc(100% - 64px);
}
.layout-wrapper .l-guide-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: 64px;
}
.layout-wrapper .l-guide-sidebar-container .el-menu-vertical-demo {
  border-right: none;
}
.layout-wrapper .r-main-container {
  position: fixed;
  top: 0;
  min-height: 100vh;
}
.layout-wrapper .r-main-container .top-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 16px;
  background-color: #00f;
}
.layout-wrapper .r-main-container .top-tag-container {
  display: flex;
  padding: 6px 16px;
  border-bottom: 1px solid;
}
